@import "tailwindcss";



@theme {

  --font-archivo-black: "Archivo Black", sans-serif;
  --font-lexend-mega: "Lexend Mega", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  
  --color-primary-50: #eaf9fc;
  --color-primary-100: #d4f2f9;
  --color-primary-200: #a8e5f3;
  --color-primary-300: #7cd8ed;
  --color-primary-400: #51cbe7;
  --color-primary-500: #69d3e8; /* BASE */
  --color-primary-600: #4aa7b6;
  --color-primary-700: #357a85;
  --color-primary-800: #214d54;
  --color-primary-900: #0c2023;

  --color-secondary-50: #ffeaf5;
  --color-secondary-100: #ffd4eb;
  --color-secondary-200: #ffaad6;
  --color-secondary-300: #ff80c2;
  --color-secondary-400: #ff56ad;
  --color-secondary-500: #ff68b5; /* BASE */
  --color-secondary-600: #cc538f;
  --color-secondary-700: #993f6a;
  --color-secondary-800: #662a45;
  --color-secondary-900: #331520;
}